@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  /* font-family: 'Aref Ruqaa', serif; */
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px #da9c9c;
}

h1 {
  text-shadow: 2px 2px 4px #726a6a;
}

.container {
  /* margin: 0 100px; */
  /* width: 80vw; */
  margin: auto;
}

.title {
  background-color: dimgrey;
  /* width: 98.8vw; */
  padding: 10px;
}

.title img {
  position: relative;
  top: 5px;
  height: 7vh;
  width: 7vh;
  margin-left: 30px;
  border-radius: 20%;
}
.title h1 {
  /* position: relative; */
  /* bottom: 3px; */
  display: inline-block;
  margin-left: 20px;
  font-size: 3rem;
  color: rgb(226, 197, 32);
  text-shadow: 2px 2px 4px #000000;
  font-family: "Irish Grover", cursive;
}

.body-container {
  width: 80%;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.form-control {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 30%;
  margin-bottom: 30px;
  width: 40%;
  background-color: rgb(202, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.form-control:hover {
  border-bottom: 2px solid #01b4eb;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.center {
  text-align: center;
}
.center img {
  height: 40vh;
  width: 300px;
  border-radius: 50%;
  margin-top: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
  0% {
    left: -100px;
    top: 0px;
  }
  100% {
    left: 100px;
    top: 0px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.movie-card {
  width: 320px;
  margin: 20px 0;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.movie-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.movie-card img {
  height: 350px;
  width: 300px;
  border-radius: 5px;
  margin: 15px 0;
}
.movie-card .movie-info {
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 0 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.item img {
  border-radius: 7px;
  height: 300px;
}
.item .item-component {
  padding-left: 30px;
}
.item .item-component h1 {
  padding: 10px 0;
}
.item .item-component p {
  margin: 10px 0;
  font-size: 1.05rem;
}

.baibhav {
  position: relative;
  bottom: 10px;
  /* left: 40%; */
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 640px) {
  .form-control{
    margin-left: 15%;
    width: 70%;
  }
  .item{
    flex-direction: column;
  }
  .cards{
    justify-content: center;
  }
}
